@use '/src/scss/colors.scss';
@use '/src/scss/breakpoints.scss';


:host
{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 1rem 0;

    @include breakpoints.mobile {
        margin-top: 1rem;
        margin-bottom: 1rem;
        }
    @include breakpoints.desktop { height: 100%; }
}

@include breakpoints.mobile
{
    .navigation-desktop-container { display: none; }
    .navigation-mobile-container { position: absolute; }
    :host { justify-content: space-between; }
}
@include breakpoints.desktop
{
    .navigation-icon, .navigation-mobile-container {
        display: none;
        }
    .navigation-desktop-container { width: 100%; }
}

.logo
{
    display: flex;
    align-items: center;

    margin-right: 1rem;
}

.navigation-icon
{
    width: 25px;
    height: 25px;
}