@use '/src/scss/colors.scss';


:host
{
    background-color: colors.$card;
    color: colors.$on-card;
}

.navigation-icon
{
    img
    {
        filter: invert(62%) sepia(7%) saturate(231%) hue-rotate(216deg) brightness(92%) contrast(84%);
    }
}
