@use '/src/scss/colors.scss';


html > *, button
{
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    
    font-size: 18px;
    font-family: 'Poppins';
}

button
{
    background-color: transparent;
    color: colors.$on-card-variant;
    &:hover { color: colors.$on-card-header; }
}

hr, button { border: none; }


.cta-button
{
    background-color: colors.$primary;
    color: colors.$on-primary;
    &:hover {
        background-color: colors.$primary-variant; 
        color: colors.$on-primary !important;
        }

    border-radius: 999px;
}