@use '/src/scss/colors.scss';


html
{
    overflow-x: hidden;
}

html > *, button
{
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    
    font-size: 18px;
    font-family: 'Poppins';
}


hr, button { border: none; }

button
{
    background-color: transparent;
    color: colors.$on-card-variant;
    &:hover { color: colors.$on-card-header; }
}

.cta-button
{
    background-color: colors.$primary;
    color: colors.$on-primary;
    &:hover {
        background-color: colors.$primary-variant; 
        color: colors.$on-primary !important;
        }

    border-radius: 999px;
    padding: 0.5rem 2rem;
}