
$background: hsl(230, 26%, 95%);
$background-hero: white;
$on-background: hsl(0, 0%, 75%);
$on-background-header: hsl(255, 11%, 22%);

$card: white;
$on-card: hsl(0, 0%, 75%);
$on-card-header: hsl(255, 11%, 22%);

$primary: hsl(180, 66%, 49%);
$on-primary: white;
$secondary: hsl(257, 27%, 26%);
$on-secondary: white;

$error: hsl(0, 87%, 67%);
