@use '/src/scss/colors.scss';
@use '/src/scss/breakpoints.scss';


:host { @include breakpoints.mobile
{
    background-color: colors.$secondary;
} }

:host button { @include breakpoints.mobile
{
    color: colors.$on-secondary;
    &:hover { color: colors.$on-card-variant; }
} }

hr
{
    background-color: colors.$on-secondary;
}
