@use '/src/scss/breakpoints.scss';


:host
{
    display: flex;

    @include breakpoints.mobile 
    {
        flex-flow: column;
        align-items: center;
        position: fixed;

        top: 3.5rem;
        left: 0;
        right: 0;
        margin: 0 5%;
        padding: 0.5rem 0;

        border-radius: 0.5rem;
    }
    @include breakpoints.desktop
    {
        flex-flow: row;
        justify-content: space-between;
        width: 100%;
    }
}

:host :nth-child(n)
{
    display: flex;

    @include breakpoints.mobile
    {
        flex-flow: column;
        align-items: center;
    }
    @include breakpoints.desktop
    {
        flex-flow: row;
    }
}

hr
{
    @include breakpoints.mobile
    {
        width: 90%;
        margin: 0 5%;
        height: 0.5px;
    }
    @include breakpoints.desktop
    {
        display: none !important;
    }
}

button
{
    @include breakpoints.mobile
    {
        width: 10rem;
        padding: 0.5rem;
    }
    @include breakpoints.desktop
    {
        padding: 0.2rem 1rem;
    }
}